.icon{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    z-index: 1;
}

.timeline-step{
    z-index: 1;
    
}

.timeline-line{
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    height: 4px;
    background-color: #dee2e6;
    z-index: 0;
    
}